/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.navbar-light .navbar-brand{
    color: #17a2b8 !important;
}

.fixed-top{
    background-color: white;
    border-bottom: 1px solid rgba(127, 127, 127, 0.38)
}

.navbar-collapse .navbar-nav{
    margin-left: 60px;
}

.navbar-collapse .navbar-nav .nav-item{
    margin-right: 40px;

}

span.user-dropwdown{
    padding-left: 10px;
}
a.dropdown-item{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.sidebar .nav-pills .nav-item .nav-link{
    color: #7f7f7f;
}

.sidebar .nav-pills .nav-item .active{
    background-color: #17a2b8;
    color: #FFFFFF;
}
